$gray-medium-light: #eaeaea;
$gray-darker: #A9A9A9;
$greyish: #bbb;
$light-gray: #777;
$mercury: #e8e8e8;
$red: #FF0000;
$silver: #bbb;
$white: #fff;
$light-green: #d5f4e6;
$cobalt-blue: #0020C2;
$selago: #F8E0F7;
$dark-blue: #17202a;
$free-speech-green: #ACF3AE;
$spring-green: #00FF80;
$sky-blue: #81DAF5;
$grey: #888888;
$pale-turquoise: #A9F5F2;
