<footer class="footer">
  <small>
    <%= t ".description_1" %>
  </small>

  <nav>
    <ul>
    <%= t ".info_foot" %>
    <%= link_to t("further_info_message"), info_path %>
    </ul>
  </nav>
</footer>
